<div class="d-flex flex-column">
    <div class="footer-container pb-3 d-flex flex-column align-items-center justify-content-evenly">
        <div class="title pt-3">
            <h3 class="logo">My Portafolio</h3>
        </div>
        <div class="navbar">
            <ul class="navbar-nav mb-2 mb-lg-0 fs-5 d-flex flex-column flex-wrap d-sm-flex flex-sm-row">
                <li class="nav-item">
                  <a class="nav-link me-4" routerLink="home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-4" routerLink="aboutme">About Me</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-4" routerLink="services">Services</a>
                </li>
                <li class="nav-item me-4">
                  <a class="nav-link" routerLink="projects">Projects</a>
                </li>
                <li class="nav-item me-4">
                  <a class="nav-link" routerLink="contact">Contact</a>
                </li>
              </ul>
        </div>
        <div>
            <a href="https://www.facebook.com/profile.php?id=100088864683295"><img src="facebook.svg" alt="facebook" width="25px"></a>
            <a href="https://wa.me/201010339250"><img class="mx-3" src="whatsapp.svg" alt="whatsapp" width="25px"></a>
            <a href="https://www.linkedin.com/in/magdy-reffat-97568b27a"><img src="linkedin.svg" alt="linkedin" width="25px"></a>
        </div>
    </div>
    <div class="copyright-container d-flex flex-row justify-content-center align-items-center">
        <p class="text-white m-0 p-0">&copy; 2024</p> 
        <p class="orange-color m-0 p-0">&nbsp;Magdy Reffat</p> 
        <p class="text-white m-0 p-0">&nbsp;All Rights Reserved, Inc</p>
    </div>
</div>