<div class="card mb-5 mb-md-4 border-0">
    <div class="card-body">
    <a href={{Project.link}}>
        <div class="image-container background-lightorange rounded-3 position-relative mb-2">
            <img class="secondary-image position-absolute end-0 pe-4" src={{Project.SecondaryImage}} alt="img">
            <img class="primary-image position-absolute translate-middle-x mt-5 end-40 shadow-light" src={{Project.primaryImage}} alt="img">
        </div>
    </a>
        <div class="text-start">
            <a class="card-title mt-4 mt-md-3 fw-bold h5 text-decoration-none" href={{Project.link}}>{{Project.title}}</a>
            <p class="fs-6 text-secondary">{{Project.details}}</p>
        </div>
    </div>
  </div>