<div class="container text-center mt-5">
    <h2>Lets Design Together</h2>
    <div class="d-flex justify-content-center">
        <p class="w-50">Lorem ipsum dolor sit amet consectetur. Tristique amet sed massa nibh lectus netus in. Aliquet donec morbi convallis pretium</p>  
    </div>
    <form class="d-flex justify-content-center mb-5">
        <div class="form-group w-75 w-md-50 d-flex flex-column flex-md-row">
            <input type="email" class="form-control me-4 background-lightgray" id="Email" placeholder="Enter Your Email">
            <input type="submit" class="btn submit-button mt-2 mt-md-0">
        </div>
    </form>    

</div>
