<div class="container mt-3">
    <div class="row h-50 d-flex flex-wrap">
        <div class="col-md-6">
            <h4 class="text-black fw-bold mt-lg-3">Hi I am</h4>
            <h3 class="orange-color">Magdy Reffat</h3>
            <h1 class="fw-bold">Full-Stack</h1>
            <h1 class="developer-text fw-bold">Developer</h1>
            <p class="fs-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias iusto cupiditate voluptas, dolore odit perferendis sed ad dolorum error harum quasi adipisci labore repellat libero itaque, omnis quas quae eum.</p>
            <button class="btn custom-bg acitve-style text-white px-5" routerLink="/contact">Hire Me</button>
        </div>
        <div class="col-md-6 d-flex align-items-center align-items-lg-start justify-content-center">
                <img class="img-fluid ms-lg-5 w-75" src="brief-image.jpg" alt="img">
        </div>
    </div>  
</div> 